@tailwind base;
@tailwind components;
@tailwind utilities;

@import 'vuetify/styles';

body {
  background-color: #1e293b;
  color: #fff;
}

.v-btn {
  background-color: rgb(0, 220, 130) !important;
  color: #fff !important;
}

.v-card, .v-dialog {
  background-color: #1e293b;
  color: #fff;
}

.v-textarea, .v-text-field {
  background-color: #1e293b;
  color: #fff;
  border-color: rgb(0, 220, 130);
}

.v-textarea::placeholder, .v-text-field::placeholder {
  color: #9ca3af;
}

textarea {
  resize: none;
}